.cardipost {
  
  /* box-shadow: 0px 0px 0px grey;
  -webkit-transition: box-shadow 0.6s ease-out; */
  /* box-shadow: 0.8px 0.9px 3px grey; */
}
.cardipost:hover {
  box-shadow: 1px 8px 20px grey;
  -webkit-transition: box-shadow 0.3s ease-in;
}
